
@{
    ViewBag.Title = "Index";
}

<h1>Hello Admin</h1>

<h2>
    @Html.ActionLink("View Course - Faculties", "Index", "CourseFaculties")

</h2>

<h2>
    @Html.ActionLink("View Faculties", "Index", "CRUDFaculty")

</h2>
<h2>
    @Html.ActionLink("View Divisions", "Index", "Divisions")

</h2>
<h2>
    @Html.ActionLink("View Courses", "ViewCourses", "Admin")

</h2>
<h2>
    @Html.ActionLink("View Students","Index","Students")
</h2>
<h2>
    @Html.ActionLink("View Division(SEM)-Courses","Index","DivisionCourses")
</h2>