@model Attendance_ManagementV1._0.Models.DivisionCourse

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DivisionCourse</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.courses.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.courses.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.divisions.DivisionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.divisions.DivisionId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
