@using PagedList;
@using PagedList.Mvc
@model PagedList.IPagedList<Attendance_ManagementV1._0.Models.StudentAttendance>



<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "ShowAttendances";
}

<h2>ShowAttendances</h2>
<br />
<br />
<br />
@using (Html.BeginForm("ShowAttendances", "Faculty", FormMethod.Post))
{
    <div>
        Search By CourseName : @Html.TextBox("SearchCourseName")
        Search By Date : <input type="date" id="SearchDate" name="SearchDate" value="SearchDate">


        <input id="Submit" type="submit" value="Filter" />
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model[0].courses.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].students.StudentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].date)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.courses.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.students.StudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditAttendance", new { id = item.StudentAttendenceId })
                @*
                    @Html.ActionLink("Details", "Details", new { id=item.StudentAttendenceId }) |
                     @Html.ActionLink("Delete", "Delete", new { id=item.StudentAttendenceId })
                *@
            </td>
        </tr>
    }
</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model,page => Url.Action("ShowAttendances",new { page }))